<html>
  <head>
    <title>Voting</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <a class="navbar-brand" href="/">Voting DAPP</a>
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">Voting</a>
            </li>
            <li>
              <a href="/">Кнопка 2</a>
            </li>
            <li>
              <a href="/">Кнопка 3</a>
            </li>
          </ul>
        </div>
      </nav>
      <dev class="container">
        <h1>Who will rule the kingdom?</h1>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Candidate</th>
                <th>Votes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John Snow</td>
                <td id="candidate-1"></td>
              </tr>
              <tr>
                <td>Sersey Lannister</td>
                <td id="candidate-2"></td>
              </tr>
              <tr>
                <td>Daeneris Targaryen</td>
                <td id="candidate-3"></td>
              </tr>
              <tr>
                <td>The Night King</td>
                <td id="candidate-4"></td>
              </tr>
              <tr>
                <td>Samwell Tarley</td>
                <td id="candidate-5"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <input type="text" id="candidate" />
        <a href="#" onclick="voteForCandidate()" class="btn btn-primary">Vote</a>
      </dev>
    </div>
  </body>
  <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script type="text/javascript" src="/Scripts/index.js"></script>
</html>